body {
    background: url('/images/body_background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    position: sticky;
    top: 10px;
    z-index: 1;
}

header.text a,
header.text button {
    color: white;
}

.title {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(167, 66, 66);
    color: black;
}

.title:hover {
    color: rgb(167, 66, 66);
}

.title-category {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 120px;
}

.title-category::before {
    content: '|';
    color: rgb(167, 66, 66);
}

ul,
button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ul-nav-aside {
    line-height: 4em;
    color: white;
    list-style: none;
}

.banner {
    position: relative;
    height: 600px;
    background: url('/images/test_edited.jpg');
}

.banner a {
    position: absolute;
    width: 35%;
    transform: rotate3d(0, 2, 1, -40deg);
    top: 104px;
    left: 163px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 4.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-title {
    position: absolute;
}

.banner a:hover {
    transform: translateX(15px);
    transition: transform .4s ease-out;
}

.text-intro {
    position: absolute;
    right: 60px;
    top: 10px;
    margin: auto;
    width: 30%;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.card-post {
    padding: 0;
}

.card-text,
.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-link:hover,
.nav-link:focus {
    color: rgb(167, 66, 66);
}

.nav-link {
    color: black;
}

.dropdown-menu>li>.nav-link,
.dropdown-menu button {
    color: white;
}

.dropdown-menu a:hover {
    color: rgb(167, 66, 66);
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, .7);
}

.card-link {
    cursor: pointer;
    float: right;
    margin-right: 60px;
    text-decoration: none;
    color: rgb(167, 66, 66);
}

.card-link:hover {
    color: black;
    transform: translateX(15px);
    transition: transform .3s ease-in-out;
}

.card-author {
    margin-top: 50px;
}

.card-image {
    width: 100%;
    height: 498px;
}

.card-article {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.btn-user {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
}

.btn-user:hover {
    color: rgb(167, 66, 66);
}

.nav-account li>a,
.nav-account li {
    list-style: none;
    color: white;
}

.nav-account a:hover {
    color: rgb(167, 66, 66);
}

.nav-account {
    position: absolute;
    right: 246px;
    background-color: rgba(1, 1, 1, 0.7);
    top: 50px;
    z-index: 1;
    opacity: 0;
    transform: translateY(10%);
}

.nav-account.reveal {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .4s ease-in-out;
}

.nav-categories {
    position: absolute;
    right: 85vh;
    background-color: rgba(1, 1, 1, 0.7);
    top: 50px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-11%);
    transition: opacity .4s ease-in-out;
}

.nav-categories.reveal {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: visibility .4s ease-in-out, transform .4s ease-in, opacity .4s ease-in;
}

.background {
    background-color: rgba(245, 245, 245, .5);
    width: 100%;
}

.form-create {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 50px;
}

.fade-in {
    opacity: 0;
    transition: opacity 730ms ease-in-out;
}

.fade-in.appear {
    opacity: 1;
}

.from-right {
    transform: translateX(10%);
}

.from-left {
    transform: translateX(-10%);
}

.from-top {
    transform: translateY(-10%);
}

.from-left,
.from-right,
.from-top {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    opacity: 1;
    transform: translateX(0);
}

.from-top.appear {
    opacity: 1;
    transform: translateY(0);
}

.inf-content {
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: fit-content;
}

.user-info {
    margin-top: 150px;
    margin-bottom: 233px;
}

.user-detail {
    color: rgb(29, 26, 26);
}

.fa-user {
    margin-right: 10px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.inputfile+label {
    font-size: 1em;
    color: black;
    display: inline-block;
    cursor: pointer;
}

.form-file {
    margin-left: 100px;
    margin-top: 10px;
}


/* Comment */

.card-comment {
    width: 70%;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 25px;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: 0;
}

.image-user {
    max-height: 48%;
    max-width: 100%;
}

.title-category-empty {
    margin-bottom: 50%;
}

.progress {
    position: fixed;
    bottom: 0px;
    height: 7px;
    width: 100%;
    z-index: 2;
}

.progress-bar {
    background-color: rgb(167, 66, 66);
}

.login-form {
    height: 300px;
    margin-top: 235px;
    margin-bottom: 200px;
}