body {
    background-attachment: fixed;
}

.title {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(167, 66, 66);
}

.title-category {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 120px;
}

.title-category::before {
    content: '|';
    color: rgb(167, 66, 66);
}

ul,
button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner {
    position: relative;
    height: 765px;
    width: auto;
    height: 600px;
    background: url('/images/test_edited.jpg');
}

.banner a {
    position: absolute;
    right: 150px;
    bottom: 33px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    border: 1px solid;
    border-radius: 5px;
}

.banner a:hover {
    transform: translateX(15px);
    transition: transform .4s ease-out;
}

.text-intro {
    position: absolute;
    right: 60px;
    top: 10px;
    margin: auto;
    width: 30%;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.card-post {
    padding: 0;
}

.card-text,
.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-link {
    cursor: pointer;
    float: right;
    margin-right: 60px;
    text-decoration: none;
    color: rgb(167, 66, 66);
}

.card-link:hover {
    color: black;
    transform: translateX(15px);
    transition: transform .3s ease-in-out;
}

.card-author {
    margin-top: 50px;
}

.card-image {
    width: 100%;
    height: 498px;
}

.card-article {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.btn-user {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.nav-account li {
    list-style: none;
    color: white;
}

.nav-account {
    position: absolute;
    right: 550px;
    background-color: rgba(1, 1, 1, 0.7);
    top: 50px;
    z-index: 1;
    opacity: 0;
    transform: translateY(10%);
}

.nav-account.reveal {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .4s ease-in-out;
}

.background {
    background-color: rgba(245, 245, 245, .5);
}

.form-create {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 50px;
}

.fade-in {
    opacity: 0;
    transition: opacity 730ms ease-in-out;
}

.fade-in.appear {
    opacity: 1;
}

.from-right {
    transform: translateX(10%);
}

.from-left {
    transform: translateX(-10%);
}

.from-top {
    transform: translateY(-10%);
}

.from-left,
.from-right,
.from-top {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    opacity: 1;
    transform: translateX(0);
}

.from-top.appear {
    opacity: 1;
    transform: translateY(0);
}

.inf-content {
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.user-info {
    margin-top: 150px;
    margin-bottom: 233px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    display: inline-block;
    cursor: pointer;
}

.form-file {
    margin-left: 100px;
    margin-top: 10px;
}


/* Comment */

.card-comment {
    width: 70%;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 25px;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}