.title {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul,
button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner {
    display: flex;
    justify-content: space-evenly;
}

.text-intro {
    margin-top: 100px;
    width: 44%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(167, 66, 66);
}

.card-post {
    padding: 0;
}

.card-text,
.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background {
    background-color: rgba(245, 245, 245, .5);
}

[class*="reveal-"] {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0px);
    transition: .9s ease-in-out;
}

.reveal-1 {
    transition: .3s;
}

.reveal-2 {
    transition: .6s;
}

.reveal-3 {
    transition: .9s;
}

.reveal-4 {
    transition: 1.2s;
}

.reveal-5 {
    transition: 1.4s;
}